.container {
   display: flex;
 }
 
 .sidebar {
   width: 200px;
   position: fixed;
 }
 
 .content {
   margin-left: 200px;
   padding: 20px;
 }
 
 .carousel img {
   width: 100%;
   display: none;
 }
 
 .carousel img:first-child {
   display: block;
 }
 
 .videos iframe {
   margin-bottom: 20px;
 }
 